[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles,inode/directory
ExcludeServiceTypes=kdedevice/*
Encoding=UTF-8
Actions=Organize;copyPath
X-KDE-Submenu=&Hamsi Manager
X-KDE-Submenu[tr]=&Hamsi Manager
X-KDE-Submenu[pt_BR]=&Hamsi Manager
Icon=~InstallationDirectory~/Themes/Default/Images/HamsiManager.png

[Desktop Action Organize]
Exec=python '~InstallationDirectory~/HamsiManager.py' %U
Icon=~InstallationDirectory~/Themes/Default/Images/HamsiManager.png
Name=Organize with Hamsi Manager
Name[tr]=Hamsi Manager ile Düzenle
Name[pt_BR]=Organizar com Hamsi Manager

[Desktop Action copyPath]
Exec=python '~InstallationDirectory~/HamsiManager.py' -qm copyPath %U
Icon=~InstallationDirectory~/Themes/Default/Images/HamsiManager.png
Name=Copy Path To Clipboard
Name[tr]=Yolunu Panoya Kopyala
Name[pt_BR]=Copiar caminho para a área de transferência
