[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
ExcludeServiceTypes=kdedevice/*
Encoding=UTF-8
Actions=emendDirectory;emendDirectoryWithContents;checkIcon;_SEPARATOR_;copyPath;pack;search;fileTree;_SEPARATOR_;clearEmptyDirectories;clearUnneededs;clearIgnoreds;removeOnlySubFiles;clear;_SEPARATOR_
X-KDE-Submenu=&Hamsi Manager
X-KDE-Submenu[tr]=&Hamsi Manager
Icon=~IconPath~

[Desktop Action emendDirectory]
Exec=~ExecuteCommandOfHamsiManager~ --qm --emendDirectory %U
Icon=~ThemePath~/Images/emendDirectory.png
Name=Auto Emend
Name[tr]=Otomatik Olarak Düzelt

[Desktop Action emendDirectoryWithContents]
Exec=~ExecuteCommandOfHamsiManager~ --qm --emendDirectoryWithContents %U
Icon=~ThemePath~/Images/emendDirectoryWithContents.png
Name=Auto Emend (With Contents)
Name[tr]=Otomatik Olarak Düzelt (İçeriği İle)

[Desktop Action pack]
Exec=~ExecuteCommandOfHamsiManager~ --qm --pack %U
Icon=~ThemePath~/Images/pack.png
Name=Pack It
Name[tr]=Paketle

[Desktop Action checkIcon]
Exec=~ExecuteCommandOfHamsiManager~ --qm --checkIcon %U
Icon=~ThemePath~/Images/checkIcon.png
Name=Check Directory Icon
Name[tr]=Dizin Simgesini Kontrol Et

[Desktop Action clearEmptyDirectories]
Exec=~ExecuteCommandOfHamsiManager~ --qm --clearEmptyDirectories %U
Icon=~ThemePath~/Images/clearEmptyDirectories.png
Name=Clear Empty Directories
Name[tr]=Boş Dizinleri Sil

[Desktop Action clearUnneededs]
Exec=~ExecuteCommandOfHamsiManager~ --qm --clearUnneededs %U
Icon=~ThemePath~/Images/clearUnneededs.png
Name=Clear Unneededs
Name[tr]=Gereksizleri Sil

[Desktop Action clearIgnoreds]
Exec=~ExecuteCommandOfHamsiManager~ --qm --clearIgnoreds %U
Icon=~ThemePath~/Images/clearIgnoreds.png
Name=Clear Ignoreds
Name[tr]=Yok Sayılanları Sil

[Desktop Action fileTree]
Exec=~ExecuteCommandOfHamsiManager~ --qm --fileTree %U
Icon=~ThemePath~/Images/fileTree.png
Name=Build File Tree
Name[tr]=Dosya Ağacı Oluştur

[Desktop Action removeOnlySubFiles]
Exec=~ExecuteCommandOfHamsiManager~ --qm --removeOnlySubFiles %U
Icon=~ThemePath~/Images/removeOnlySubFiles.png
Name=Remove Sub Files
Name[tr]=Alt Dosyaları Sil

[Desktop Action clear]
Exec=~ExecuteCommandOfHamsiManager~ --qm --clear %U
Icon=~ThemePath~/Images/clear.png
Name=Clear It
Name[tr]=Temizle

[Desktop Action search]
Exec=~ExecuteCommandOfHamsiManager~ --qm --search %U
Icon=~ThemePath~/Images/search.png
Name=Search
Name[tr]=Ara

[Desktop Action copyPath]
Exec=~ExecuteCommandOfHamsiManager~ --qm --copyPath %U
Icon=~ThemePath~/Images/copyPath.png
Name=Copy Path To Clipboard
Name[tr]=Yolunu Panoya Kopyala
