# The following options will be passed to all MySQL clients
[client]
user		= root
port		= 33616
socket		= ~KDE4HomeDirectory~/share/apps/amarok/mysqle/mysql.sock
default-character-set=utf8

# The MySQL server
[mysqld]
user		= root
datadir		= ~KDE4HomeDirectory~/share/apps/amarok/mysqle
port		= 33616
socket		= ~KDE4HomeDirectory~/share/apps/amarok/mysqle/mysql.sock
pid-file	= ~KDE4HomeDirectory~/share/apps/amarok/mysqle/mysqld.pid
default-character-set=utf8
default-collation=utf8_general_ci
