# The following options will be passed to all MySQL clients
[client]
user		= root
port		= 33616
socket		= ~SettingsDirectory~/Amarok/mysql.sock

# The MySQL server
[mysqld]
user		= root
datadir		= ~SettingsDirectory~/Amarok/mysqle
port		= 33616
socket		= ~SettingsDirectory~/Amarok/mysql.sock
pid-file	= ~SettingsDirectory~/Amarok/mysqld.pid
